<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{gettext("Register Vehicle")}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <main>
        <form method="post">
            <fieldset>
                <h2>{{gettext("Register Your Vehicle")}}</a>
                </h2>
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages or form.errors %}
                <ul>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %} {% for field, message in form.errors %}
                    <li class="error">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %} {{form.hidden_tag()}} {{ form.carType.label() }} {{ form.carType() }} {{ form.carMake.label() }} {{ form.carMake() }} {{ form.carModel.label() }} {{ form.carModel() }} {{ form.carYear.label() }} {{ form.carYear() }} {{ form.carColor.label()
                }} {{ form.carColor() }} {{ form.carLicensePlate.label() }} {{ form.carLicensePlate() }} {{ form.submit() }}
            </fieldset>
        </form>
    </main>
</body>

</html>