<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <title>{{gettext("Ride chat")}}</title>
</head>

<body>
    <a href="/ride/{{ride._id|string}}">{{gettext("Back to ride details")}}</a>
    <div>
        {% for chat in messages %}
        <div>
            <p>{{chat.sender}}: {{chat.message}}</p>
        </div>
        {% endfor %}
    </div>
    <textarea id="message" name="message" rows="4" cols="50"></textarea>
    <button onclick="socket.emit('chat', {message: document.getElementById('message').value, id: '{{ride._id|string}}'});">{{gettext("Send")}}</button>
    <script>
        createSocket("/rideChat", "{{ ride._id|string }}")
        window.socket.on('refresh', function() {
            location.reload();
        });
        window.socket.on('arrived', function() {
            location.href = '/ride/{{ride._id|string}}/invoice'
        });
    </script>
</body>

</html>